# Ambienti virtuali
venv/
.venv/

# Cartelle di PyCharm
.idea/

# Cache di Python
__pycache__/
*.pyc

# Sicurezza: file di licenza e log
*.lic
*.log

# Troppo pesanti
dataset_non_pesato.csv
dataset_pesato.csv

# Per evitare modifiche
Presentazione_0386492.pptx